In [1]:
import pandas as pd

In [2]:
pwd

'/Users/Kenkre/ds34'

In [3]:
cd ..
ls

SyntaxError: invalid syntax (<ipython-input-3-56336189ec99>, line 1)

In [4]:
cd ..

/Users/Kenkre

In [5]:
ls

Applications/    Music/           getting-started/ problem3.py
Desktop/         Pictures/        git-intro/       problem4.py
Documents/       Public/          inspect.sh*      problem5.py
Downloads/       assessment.py    problem1.py      python-intro/
Library/         dir-1/           problem2
Movies/          ds34/            problem2.py

In [6]:
cd downloads

/Users/Kenkre/Downloads

In [7]:
pwd

'/Users/Kenkre/Downloads'

In [8]:
df=pd.read_csv("data.csv")

In [10]:
df.info

<bound method DataFrame.info of       Country Name Country Code  \
0       Arab World          ARB
1       Arab World          ARB
2       Arab World          ARB
3       Arab World          ARB
4       Arab World          ARB
...            ...          ...
89005     Zimbabwe          ZWE
89006     Zimbabwe          ZWE
89007     Zimbabwe          ZWE
89008     Zimbabwe          ZWE
89009     Zimbabwe          ZWE

                                          Indicator Name     Indicator Code  \
0      % of females ages 15-49 having comprehensive c...  SH.HIV.KNOW.FE.ZS
1      % of males ages 15-49 having comprehensive cor...  SH.HIV.KNOW.MA.ZS
2      Adolescent fertility rate (births per 1,000 wo...        SP.ADO.TFRT
3      Adults (ages 15+) and children (0-14 years) li...        SH.HIV.TOTL
4      Adults (ages 15+) and children (ages 0-14) new...     SH.HIV.INCD.TL
...                                                  ...                ...
89005  Use of insecticide-treated bed nets (% of unde...     SH.MLR.NETS.ZS
89006  Use of Intermittent Preventive Treatment of ma...     SH.MLR.SPF2.ZS
89007  Vitamin A supplementation coverage rate (% of ...     SN.ITK.VITA.ZS
89008           Wanted fertility rate (births per woman)        SP.DYN.WFRT
89009  Women's share of population ages 15+ living wi...  SH.DYN.AIDS.FE.ZS

             1960        1961        1962        1963        1964        1965  \
0             NaN         NaN         NaN         NaN         NaN         NaN
1             NaN         NaN         NaN         NaN         NaN         NaN
2      133.555013  134.159119  134.857912  134.504576  134.105211  133.569626
3             NaN         NaN         NaN         NaN         NaN         NaN
4             NaN         NaN         NaN         NaN         NaN         NaN
...           ...         ...         ...         ...         ...         ...
89005         NaN         NaN         NaN         NaN         NaN         NaN
89006         NaN         NaN         NaN         NaN         NaN         NaN
89007         NaN         NaN         NaN         NaN         NaN         NaN
89008         NaN         NaN         NaN         NaN         NaN         NaN
89009         NaN         NaN         NaN         NaN         NaN         NaN

       ...       2007       2008       2009       2010       2011       2012  \
0      ...        NaN        NaN        NaN        NaN        NaN        NaN
1      ...        NaN        NaN        NaN        NaN        NaN        NaN
2      ...  49.999851  49.887046  49.781207  49.672975  49.536047  49.383745
3      ...        NaN        NaN        NaN        NaN        NaN        NaN
4      ...        NaN        NaN        NaN        NaN        NaN        NaN
...    ...        ...        ...        ...        ...        ...        ...
89005  ...        NaN        NaN  17.300000        NaN   9.700000        NaN
89006  ...        NaN        NaN  13.900000        NaN   7.300000        NaN
89007  ...  83.000000   0.000000  77.000000  49.000000  47.000000  61.000000
89008  ...        NaN        NaN        NaN        NaN   3.500000        NaN
89009  ...  58.586086  58.760796  58.812421  58.825943  58.899308  58.939080

            2013       2014       2015  Unnamed: 60
0            NaN        NaN        NaN          NaN
1            NaN        NaN        NaN          NaN
2      48.796558  48.196418        NaN          NaN
3            NaN        NaN        NaN          NaN
4            NaN        NaN        NaN          NaN
...          ...        ...        ...          ...
89005        NaN  26.800000        NaN          NaN
89006        NaN  12.900000        NaN          NaN
89007  34.000000  32.000000        NaN          NaN
89008        NaN        NaN        NaN          NaN
89009  58.900126  58.822335  58.855551          NaN

[89010 rows x 61 columns]>

In [12]:
df.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
count,3.548200e+04,3.532500e+04,3.588900e+04,3.545200e+04,3.548300e+04,3.560300e+04,3.553800e+04,3.602200e+04,3.557700e+04,3.563000e+04,...,5.425500e+04,5.387800e+04,5.443700e+04,5.709900e+04,5.492200e+04,5.492700e+04,5.292400e+04,5.219900e+04,4.306800e+04,0.0
mean,4.398856e+06,4.477329e+06,4.483279e+06,4.634875e+06,4.727806e+06,4.810557e+06,4.923225e+06,4.958680e+06,5.126162e+06,5.229267e+06,...,1.066701e+08,1.178440e+08,1.194416e+08,1.202183e+08,1.354606e+08,1.381746e+08,1.470674e+08,1.534580e+08,9.105685e+06,NaN
std,4.948245e+07,5.013205e+07,5.054473e+07,5.192122e+07,5.297849e+07,5.401988e+07,5.526006e+07,5.607026e+07,5.763263e+07,5.887277e+07,...,1.017662e+10,1.077350e+10,1.114136e+10,1.132855e+10,1.212198e+10,1.255757e+10,1.312843e+10,1.388442e+10,1.112609e+08,NaN
min,-2.374024e+00,-2.498824e+00,-3.826648e+06,-3.206682e+00,-3.078607e+00,-2.978527e+00,-3.072258e+00,-4.094255e+06,-4.263603e+00,-4.645452e+00,...,-2.272986e+07,-7.720454e+00,-7.829848e+00,-9.816607e+00,-8.166639e+00,-1.578482e+07,-7.726345e+00,-7.709485e+00,-7.784170e+00,NaN
25%,1.907975e+01,2.130000e+01,1.790000e+01,2.228200e+01,2.236877e+01,2.013357e+01,2.196439e+01,1.779723e+01,2.226600e+01,2.237234e+01,...,1.360000e+01,1.351170e+01,1.377504e+01,1.326888e+01,1.410000e+01,1.257937e+01,1.393631e+01,1.387011e+01,1.490000e+01,NaN
50%,5.282000e+03,5.794000e+03,5.158000e+03,5.945000e+03,6.065000e+03,5.998000e+03,6.240000e+03,5.767000e+03,6.438000e+03,6.529500e+03,...,9.608101e+01,9.699493e+01,9.670839e+01,9.155791e+01,9.633862e+01,9.610010e+01,9.900000e+01,9.896778e+01,2.206000e+03,NaN
75%,9.993525e+04,1.034000e+05,1.025840e+05,1.078488e+05,1.107500e+05,1.125765e+05,1.156312e+05,1.151888e+05,1.211970e+05,1.243615e+05,...,8.397350e+04,8.621775e+04,8.342100e+04,6.758400e+04,8.207750e+04,8.399800e+04,9.839350e+04,1.037375e+05,1.802958e+05,NaN
max,3.035056e+09,3.076121e+09,3.129064e+09,3.193947e+09,3.259355e+09,3.326054e+09,3.395866e+09,3.465297e+09,3.535512e+09,3.609910e+09,...,2.253595e+12,2.358301e+12,2.451062e+12,2.546451e+12,2.646913e+12,2.750543e+12,2.833419e+12,2.985748e+12,7.346633e+09,NaN

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89010 entries, 0 to 89009
Data columns (total 61 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    89010 non-null  object
 1   Country Code    89010 non-null  object
 2   Indicator Name  89010 non-null  object
 3   Indicator Code  89010 non-null  object
 4   1960            35482 non-null  float64
 5   1961            35325 non-null  float64
 6   1962            35889 non-null  float64
 7   1963            35452 non-null  float64
 8   1964            35483 non-null  float64
 9   1965            35603 non-null  float64
 10  1966            35538 non-null  float64
 11  1967            36022 non-null  float64
 12  1968            35577 non-null  float64
 13  1969            35630 non-null  float64
 14  1970            36910 non-null  float64
 15  1971            37578 non-null  float64
 16  1972            38015 non-null  float64
 17  1973            37542 non-null  float64
 18  1974            37574 non-null  float64
 19  1975            37760 non-null  float64
 20  1976            37778 non-null  float64
 21  1977            38204 non-null  float64
 22  1978            37797 non-null  float64
 23  1979            37848 non-null  float64
 24  1980            38578 non-null  float64
 25  1981            38829 non-null  float64
 26  1982            39182 non-null  float64
 27  1983            38772 non-null  float64
 28  1984            38964 non-null  float64
 29  1985            39020 non-null  float64
 30  1986            39367 non-null  float64
 31  1987            39832 non-null  float64
 32  1988            39166 non-null  float64
 33  1989            39282 non-null  float64
 34  1990            47722 non-null  float64
 35  1991            47231 non-null  float64
 36  1992            47923 non-null  float64
 37  1993            47398 non-null  float64
 38  1994            47678 non-null  float64
 39  1995            51326 non-null  float64
 40  1996            51386 non-null  float64
 41  1997            51560 non-null  float64
 42  1998            51404 non-null  float64
 43  1999            52442 non-null  float64
 44  2000            56672 non-null  float64
 45  2001            52924 non-null  float64
 46  2002            53536 non-null  float64
 47  2003            53013 non-null  float64
 48  2004            53417 non-null  float64
 49  2005            54304 non-null  float64
 50  2006            54398 non-null  float64
 51  2007            54255 non-null  float64
 52  2008            53878 non-null  float64
 53  2009            54437 non-null  float64
 54  2010            57099 non-null  float64
 55  2011            54922 non-null  float64
 56  2012            54927 non-null  float64
 57  2013            52924 non-null  float64
 58  2014            52199 non-null  float64
 59  2015            43068 non-null  float64
 60  Unnamed: 60     0 non-null      float64
dtypes: float64(57), object(4)
memory usage: 41.4+ MB

In [14]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Arab World,ARB,% of females ages 15-49 having comprehensive c...,SH.HIV.KNOW.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,% of males ages 15-49 having comprehensive cor...,SH.HIV.KNOW.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,133.555013,134.159119,134.857912,134.504576,134.105211,133.569626,...,49.999851,49.887046,49.781207,49.672975,49.536047,49.383745,48.796558,48.196418,NaN,NaN
3,Arab World,ARB,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89005,Zimbabwe,ZWE,Use of insecticide-treated bed nets (% of unde...,SH.MLR.NETS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,17.300000,NaN,9.700000,NaN,NaN,26.800000,NaN,NaN
89006,Zimbabwe,ZWE,Use of Intermittent Preventive Treatment of ma...,SH.MLR.SPF2.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.900000,NaN,7.300000,NaN,NaN,12.900000,NaN,NaN
89007,Zimbabwe,ZWE,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,83.000000,0.000000,77.000000,49.000000,47.000000,61.000000,34.000000,32.000000,NaN,NaN
89008,Zimbabwe,ZWE,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.500000,NaN,NaN,NaN,NaN,NaN
89009,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,58.586086,58.760796,58.812421,58.825943,58.899308,58.939080,58.900126,58.822335,58.855551,NaN